# ============================================================
# POSTGRESQL
# ============================================================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=iet_bi
DB_USER=svc_api
DB_PASSWORD=1234

# ============================================================
# JWT
# ============================================================
JWT_KEY=CAMBIA_ESTA_CLAVE_POR_UNA_CLAVE_LARGA_Y_ALEATORIA
JWT_ISSUER=iet_bi_portal_backend
JWT_AUDIENCE=iet_bi_portal_backendClients

JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7

# ============================================================
# SEGURIDAD DE LOGIN
# ============================================================

LOGIN_MAX_ATTEMPTS=5
LOGIN_LOCKOUT_MINUTES=2
ADMIN_BOOTSTRAP_TOKEN="TU_TOKEN_DE_BOOTSTRAP_AQUI_MAS_LARGO_Y_ALEATORIO_QUE_EL_DE_ARRIBA_PARA_MAYOR_SEGURIDAD_QUE_EL_DE_ARRIBA"